.header {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
}
.links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.link {
  padding: 5px;
}

.logo {
  font-weight: 800;
  font-size: 24px;
}
